<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}

        {% block extra_css %}
            <link rel="stylesheet" href="/static/admin/css/base.css" />
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        <div class="wrapper">
            <div class="content-wrapper">
                <div class="content">

                {% block content %}{% endblock %}

                </div>
            </div>

        {# Global javascript #}
        <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
        </div>
    </body>
</html>
