{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

<header class="hasform">
  <div class="row nice-padding">
    <div class="left">
      <div class="col header-title">
        <h1 class="icon icon-">
          {{ page.title }}
        </h1>
      </div>
    </div>
    <div class="right">
      Anywhere
    </div>
  </div>
</header>

<div class="row nice-padding">
  <div class="left">
    <form action="{% pageurl page %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <p><input type="submit" value="Filter"></p>
    </form>
  </div>
</div>

<div class="row nice-padding">
  <div class="left">
    {{ page.histo }}
  </div>
  <div class="right">
    {{ page.graph }}
  </div>
</div>

<div class="row nice-padding">
  <div class="left">
    {{ page.tweets }}
  </div>
</div>

{% endblock %}
